# ======================================================
# DEPENDÊNCIAS
# ======================================================

node_modules/
server/node_modules/


# ======================================================
# VARIÁVEIS DE AMBIENTE
# ======================================================

.env
.env.*
server/.env


# ======================================================
# LOGS
# ======================================================

*.log
npm-debug.log*


# ======================================================
# SISTEMA OPERACIONAL
# ======================================================

.DS_Store
Thumbs.db


# ======================================================
# EDITOR
# ======================================================

.vscode/


# ======================================================
# TEMPORÁRIOS
# ======================================================

*.tmp